:host {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: white;
  height: 56px;
  padding: 0 16px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
