<div class="flex-auto text-bold text-lg">Gestion écurie</div>
<ul class="xs-hide flex flex-row gap-16">
  <li>
    <a routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
  </li>
  <li>
    <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
  </li>
  <!-- <li>
    <a routerLink="/cart" routerLinkActive="active-link">Collaborateur</a>
  </li>
  <li>
    <a routerLink="/client" routerLinkActive="active-link">Client</a>
  </li>
  <li>
    <a routerLink="/gestionnaire" routerLinkActive="active-link">Gestionnaire</a>
  </li>
  <li>
    <a routerLink="/comptabilite" routerLinkActive="active-link">Comptabilité</a>
  </li> -->
  <li>
    <a routerLink="/login" routerLinkActive="active-link">Connexion</a>
  </li>
  <li>
    <a routerLink="/register" routerLinkActive="active-link">Inscription</a>
  </li>
</ul>
