<div [formGroup]="entrepriseBaseForm" (blur)="markTouched()" class="row g-3">
  <div class="col-md-4">
    <label class="form-label">Nom</label>
    <input type="text" formControlName="nom" class="form-control" />
    @if (getError('nom')) {
      <div class="text-danger small">{{ getError('nom') }}</div>
    }
  </div>

  <div class="col-md-4">
    <label class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control" />
    @if (getError('email')) {
      <div class="text-danger small">{{ getError('email') }}</div>
    }
  </div>

  <div class="col-md-4">
    <label class="form-label">Siret</label>
    <input type="text" formControlName="siret" class="form-control" />
    @if (getError('siret')) {
      <div class="text-danger small">{{ getError('siret') }}</div>
    }
  </div>

  <div class="col-md-4">
    <label class="form-label">Siren</label>
    <input type="text" formControlName="siren" class="form-control" />
    @if (getError('siren')) {
      <div class="text-danger small">{{ getError('siren') }}</div>
    }
  </div>
  <div class="col-md-4">
    <label class="form-label">Téléphone</label>
    <input type="text" formControlName="telephone" class="form-control" />
    @if (getError('telephone')) {
      <div class="text-danger small">{{ getError('telephone') }}</div>
    }
  </div>
</div>
