<div class="layout">
  <!-- LISTE À GAUCHE -->
  <div class="list-column">
    <h3 class="mb-20">Liste des utilisateurs</h3>

    <ul>
      @for (user of users(); track user._id; let i = $index) {

      <li class="user-card mb-10 card p-12">
        <div class="flex flex-col">
          <span class="text-bold">{{ user.prenom }} {{ user.nom }}</span>
          <span class="text-sm">{{ user.email }}</span>
        </div>

        <div class="flex gap-12 mt-10">
          <a class="btn">Gérer les accès</a>
          <a class="btn">Modifier</a>
        </div>
      </li>

      } @empty {
      <p class="text-muted">Aucun utilisateur trouvé.</p>
      }
    </ul>
  </div>

  <!-- ZONE DÉTAILS À DROITE -->
  <div class="details-column">
    <h3 class="text-muted">Sélectionnez un utilisateur pour afficher les détails ici</h3>
  </div>
</div>
