<h2 class="mb-4">Détails de l'utilisateur</h2>

<div class="card shadow-sm p-4 flex flex-col">
  <div class="row g-3">
    <!-- Email -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Email</small>
        <span class="fw-semibold">{{ user()?.email }}</span>
      </div>
    </div>

    <!-- Nom -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Nom</small>
        <span class="fw-semibold">{{ user()?.nom }}</span>
      </div>
    </div>

    <!-- Prénom -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Prénom</small>
        <span class="fw-semibold">{{ user()?.prenom }}</span>
      </div>
    </div>

    <!-- Date de naissance -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Date de naissance</small>
        <span class="fw-semibold">{{ user()?.dateNaissance }}</span>
      </div>
    </div>

    <!-- Rue -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Rue</small>
        <span class="fw-semibold">{{ user()?.rue }}</span>
      </div>
    </div>

    <!-- Code postal -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Code postal</small>
        <span class="fw-semibold">{{ user()?.cp }}</span>
      </div>
    </div>

    <!-- Ville -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Ville</small>
        <span class="fw-semibold">{{ user()?.ville }}</span>
      </div>
    </div>

    <!-- Pays -->
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column">
        <small class="text-muted">Pays</small>
        <span class="fw-semibold">{{ user()?.pays }}</span>
      </div>
    </div>
  </div>

  <!-- Boutons d'action (optionnel) -->
  <div class="mt-4 d-flex gap-2">
    <button class="btn btn-primary btn-sm" (click)="goToEdit()">Modifier</button>
    <button (click)="deleteUser()" class="btn btn-outline-primary btn-sm">Supprimer</button>
  </div>
</div>
