body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  border-radius: var(--radius);
}

a {
  text-decoration: none;
  color: inherit;
}
