body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 6px 12px;
  display: inline-block;
}
