body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  color: var(--text-color);
}

.card {
  padding: 24px;
  border-radius: var(--radius);
  border: var(--border);
}

.radius {
  border-radius: var(--radius);
}

.active-item {
  background-color: var(--light);
  color: white;
  border-radius: var(--radius);
}

.text-primary {
  color: var(--primary);
}

.btn {
  font-weight: 500;
  border: 0;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 8px 16px;
  transition: background-color 0.4s;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--dark);
}

input {
  border: var(--border);
  border-radius: 6px;
  padding: 12px;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: white;
  border: 2px solid var(--primary);
}

/* Style général pour tous les select */
select {
  appearance: none; /* enlève le style par défaut */
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;

  transition: border-color 0.15s, box-shadow 0.15s;
}

/* Style quand il est focus */
select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
  outline: none;
}

/* Style option */
select option {
  padding: 8px;
  background: white;
  color: #333;
}

/* Pour multi-select */
select[multiple] {
  height: auto;
  min-height: 90px;
}

/* Options sélectionnées (visibles) */
select[multiple] option:checked {
  background-color: #0d6efd;
  color: white;
}

/* Hover option */
select option:hover {
  background-color: #e9ecef;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
