.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.p-12 {
  padding: 12px;
}
