:root {
  --font-family: "Montserrat", sans-serif;
  --text-color: #222;
  --gray-100: #dfe6e9;
  --gray-700: #2c3a47;
  --light: #e9d5ff;
  --primary: #7e22ce;
  --dark: #3b0764;
  --success: #22c55e;
  --danger: #dc2626;

  --border: 1px solid var(--gray-100);
  --radius: 24px;
}