<ul class="admin-nav flex flex-col gap-4 p-4">
  <li>
    <a
      class="admin-link btn btn-outline-primary w-full text-start"
      routerLink="utilisateurs"
      routerLinkActive="active-link"
    >
      Utilisateurs
    </a>
  </li>
  <li>
    <a
      class="admin-link btn btn-outline-primary w-full text-start"
      routerLink="entreprises"
      routerLinkActive="active-link"
    >
      Entreprises
    </a>
  </li>
  <li>
    <a
      class="admin-link btn btn-outline-primary w-full text-start"
      routerLink="chevaux"
      routerLinkActive="active-link"
    >
      Chevaux
    </a>
  </li>
</ul>
