.admin-nav {
  width: 200px; // largeur fixe ou responsive si tu veux
}

.admin-link.active-link {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
  font-weight: 600;
}
